
*{
    font-family: "Arimo";
}

div.page-header{
    padding-bottom: 30px;
    margin-top: 30px;
}

.logoimg{
    max-width: 300px;
}

.addfield{
    margin-bottom: 10px;
}

.newtask{
    margin-top: 10px;
}

.listagem{
    margin-top: 20px;
}

.listagem .table>thead {
    background-color: #F1F1F1;
    border-bottom: 0px;
}

.listagem .table th{
    border-bottom: 0px;
}

td.colicon{
    width: 50px;
    overflow: hidden;
}

.norows{
    color: #d1d1d1;
    text-align: center;
}

fieldset{
    border-bottom: 2px dashed #c5c5c5;
    padding-bottom: 25px;
}
